/* /* .wine-list-container {
  display: flex;
  justify-content: center;
}

.wine-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.wine-card {
  display: flex;
  justify-content: center;
}

 */

 .wine-list-container {
  display: flex;
  justify-content: center;
}

.wine-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.wine-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wine-buttons {
  margin-top: auto;
}
