@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Poppins:ital,wght@0,200;0,500;0,800;1,800&display=swap');

.App {
  font-family: 'Creepster', 'sans-serif';
  text-align: center;
  color: rgb(54, 51, 51);
  height: 40vmin;
  /* background-color: #a00505; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  box-shadow: 10px 10px 10px 1mm;
}

header {

  background-color: rgb(55, 11, 11);
  width: 100%;

  
}

/* #movie-list-container{
  width: 100%;
  background-color: rgb(11,0,0);
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:16px;
  margin-top: 8px;  

} */



/* .wine-card{
  width: 100px;
  display: flex;
  justify-content: center;
  


}

.wine-poster{
  width: 50%;
}

.wine-title{
text-orientation: sideways-right;
  color: #000
}

footer a {
  color: rgb(11,0,0)
} */

.wine-list-container {
  display: flex;
  justify-content: center;
}

.wine-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.wine-card {
  display: flex;
  justify-content: center;
}